@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;

*,
*:before,
*:after {
    box-sizing: inherit;
}
}

html {
    font-size: 14px;
    box-sizing: border-box;
}

body {
    font-weight: normal;
    font-family: -windows-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: rgb(137, 71, 234);
    color: var(--color-text-link);
    cursor: pointer;
}


button {
    background-color: transparent;
    cursor: pointer;
}

img {
    max-width: 100%;
    vertical-align: top;
    cursor: pointer;
}

h1, h2, h3 {
    line-height: 1.2;
}
h3, h4 {
    font-weight: 600;
}
div {
    display: block;
}
