.shadow img {
  transition: 0.5s ease;
}

.shadow img:hover {
  box-shadow: 1px 1px #9147ff, 2px 2px#9147ff 3px 3px#9147ff, 4px 4px#9147ff,
    5px 5px#9147ff, 6px 6px #9147ff;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 0.5s ease;
}

img {
  max-width: 100%;
  vertical-align: top;
  cursor: pointer;
}
a {
  color: inherit !important;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: rgb(137, 71, 234) !important;
  cursor: pointer;
}
